{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="row">
        <div id="col" class="col">
            <div class="jumbotron bg-light centered shadow-lg text-center">
                <div class="smiley-reponce">
                    <img src="{{asset('image/smileyREPONCE.png')}}" alt="PointRéponse" style="width: 85px; height: auto;">
                </div>

                {{ form_start(tokenForm, {'method': 'post', 'action': path('app_user_poll'), 'attr': {'class': 'form-styled-stand-alone'}}) }}
                    <div class="row">
                        <div class="col">
                            {% if not tokenForm.token.vars.valid %}
                                <p class="error-txt">
                                {% for error in tokenForm.token.vars.errors %}
                                    {{ error.message }}<br />
                                {% endfor %}
                                </p>
                            {% endif %}
                            <label class="sr-only" for="participationCode">Code de participation</label>
                            <div class="input-group mb-4">
                                {% if tokenForm.token.vars.valid %}
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><span class="material-icons">vpn_key</span></div>
                                    </div>
                                    {{ form_widget(tokenForm.token, { 'attr': {'class': 'form-control text-center'} }) }}
                                {% else %}
                                    <div class="input-group-prepend">
                                        <div class="input-group-text border-danger"><span class="material-icons">vpn_key</span></div>
                                    </div>
                                    {{ form_widget(tokenForm.token, { 'attr': {'class': 'form-control text-center is-invalid'} }) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col  text-center">
                            <button type="submit" class="btn btn-orange-filled rounded-pill text-uppercase px-5">participer</button>
                        </div>
                    </div>
                {{ form_widget(tokenForm) }}
                {{ form_end(tokenForm) }}
            </div>
        </div>
    </div>

{% endblock %}