{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div id="col" class="col">
        <div class="jumbotron bg-light centered shadow-lg text-center">
            <div class="smiley-reponce">
                <img src="{{asset('image/smileyREPONCE.png')}}" alt="PointRéponse" style="width: 85px; height: auto;">
            </div>

            <h5 class="orange-text">Password reset</h5>

            <hr />

            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'form-styled-stand-alone' } }) }}
            <div class="row">
                <div class="col">
                    {% if not form.plainPassword.first.vars.valid %}
                        <p class="error-txt">
                            {% for error in form.plainPassword.first.vars.errors %}
                                {{ error.message }}<br />
                            {% endfor %}
                        </p>
                    {% endif %}

                    <div class="input-group mb-4">
                        {% if form.plainPassword.first.vars.valid %}
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="material-icons">lock</span></div>
                            </div>
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'nouveau mot de passe', 'class':'form-control'}}) }}
                        {% else %}
                            <div class="input-group-prepend">
                                <div class="input-group-text border-danger"><span class="material-icons">lock</span></div>
                            </div>
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'nouveau mot de passe', 'class':'form-control is-invalid'}}) }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="error-txt">

                    </div>
                    <div class="input-group mb-4">
                        {% if form.plainPassword.first.vars.valid %}
                            <div class="input-group-prepend">
                                <div class="input-group-text"><span class="material-icons">lock</span></div>
                            </div>
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'nouveau mot de passe', 'class':'form-control'}}) }}
                        {% else %}
                            <div class="input-group-prepend">
                                <div class="input-group-text border-danger"><span class="material-icons">lock</span></div>
                            </div>
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'nouveau mot de passe', 'class':'form-control is-invalid'}}) }}
                        {% endif %}
                    </div>
                </div>
            </div>
                {{ form_widget(form) }}
                <div>
                    <input class="btn btn-orange-filled rounded-pill text-uppercase px-5" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


