{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div id="col" class="col">
        <div class="jumbotron bg-light centered shadow-lg text-center">
            <div class="smiley-reponce">
                <img src="{{asset('image/smileyREPONCE.png')}}" alt="PointRéponse" style="width: 85px; height: auto;">
            </div>

            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-styled-stand-alone'}}) }}

            <div class="row">
                <div class="col">
                    <div class="error-txt">
                        {{ form.email.vars.errors }}
                    </div>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        {{ form_widget(form.email, {'attr': {'placeholder': 'email', 'class':'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="error-txt">
                        {{ form.username.vars.errors }}
                    </div>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="material-icons">person</span></div>
                        </div>
                        {{ form_widget(form.username, {'attr': {'placeholder': 'nom d\'utilisateur', 'class':'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="error-txt">
                        {{ form.plainPassword.first.vars.errors }}
                    </div>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="material-icons">lock</span></div>
                        </div>
                        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'mot de passe', 'class':'form-control'}}) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><span class="material-icons">lock</span></div>
                        </div>
                        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'mot de passe', 'class':'form-control'}}) }}
                    </div>
                </div>
            </div>


            {{ form_widget(form) }}
            <div>
                <input  class="btn btn-orange-filled rounded-pill text-uppercase px-5" type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
