{% extends 'base.html.twig' %}

{%  block body %}

    <div class="row flex-grow-1">
        <div class="container bg-orange-light shadow question-content">
            <div class="row m-2 p-2 bg-light orange-text" style="min-height: 50%">
                <div class="col-12 align-self-start">
                    <h4>Current question:</h4>
                    <hr class="mt-3 mb-0">
                </div>
                <div class="col-12 align-self-center">
                    <p>{{ question }}</p>
                </div>
                <div class="col-12 align-self-end">
                    <hr class="mt-4 mb-0">
                    <p>Number poll question answered: <b>{{nbQuestionAnswered}}</b></p>
                </div>
            </div>
            <div class="row m-2 p-2 py-4 bg-light">
                <div class="col">
                    <form action="{{nextQuestionUrl}}" target="result" method="get">
                        <input type="submit" value="Next question" />
                    </form>

                    <form action="{{lastQuestionUrl}}" target="result" method="get">
                        <input type="submit" value="Last question" />
                    </form>
                </div>
            </div>
        </div>
    </div>



 <script type="text/javascript">
const eventSource = new EventSource('http://localhost:3000/.well-known/mercure?topic=' + encodeURIComponent('{{listenerUrl}}'));
eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    console.log(JSON.parse(event.data));
	location.reload();
}
  </script>
{% endblock %}
