{% extends 'base.html.twig' %}

{% block body %}

    <div class="row flex-grow-1">
        <div class="container bg-orange-light shadow question-content">
            <div class="row m-2 p-2 bg-light orange-text min-h-25">
                <div class="col-12 align-self-start">
                    <h5>Current question:</h5>
                    <hr class="my-4">
                </div>
                <div class="col-12 align-self-center">
                    <p class="h4">{{ question | nl2br }}</p>
                </div>
                <div class="col-12 align-self-end">
                    <hr class="my-4">
                    <div>
                        {% if statsOn == true %}
                            {% set totalAns = 0 %}
                            {% for answer in currentAnswers %}
                                {% if answer.question.id == question.id %}
                                    {% for statistic in currentStatistics %}
                                        {% for stat in statistic %}
                                            {% if answer.id == stat.answer_id %}
                                                {% set totalAns = totalAns + stat.count %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                            <div class="row">

                                {% for answer in currentAnswers %}
                                    {% if answer.question.id == question.id %}
                                        <div class="col-sm-12 col-md-6">
                                            <div class="row h-100">
                                                <div class="col-12 align-self-start">
                                                    <div class="row">
                                                        <div class="col">{{ answer.answerText | nl2br }}</div>
                                                        {% set nbAns = 0 %}
                                                        {% for statistic in currentStatistics %}
                                                            {% for stat in statistic %}
                                                                {% if answer.id == stat.answer_id %}
                                                                    {% set nbAns =  stat.count %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                        <div class="col-auto text-right small">[{{ nbAns }} / {{ totalAns }}]</div>
                                                    </div>
                                                </div>
                                                {% set pourcent = 0 %}
                                                {% if  totalAns > 0 %}
                                                    {% set pourcent = 100*nbAns/totalAns %}
                                                {% endif %}
                                                <div class="col-12 align-self-end mb-4">
                                                    <div class="progress mb-4">
                                                        <div class="progress-bar bg-orange"
                                                             style="width: {{ pourcent }}%"
                                                             role="progressbar">{{ pourcent|round(2, 'floor') }}%
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                            </div>


                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="row m-2 p-2 py-4 bg-light">
                <div class="col">
                    {% set inputValue = "Next question" %}
                    {% if statsOn == false %}
                        {% set inputValue = "Start poll" %}
                    {% endif %}
                    <form action="{{ nextQuestionUrl }}" method="get">
                        <button class="btn btn-orange orange-border orange-text pull-right min-w-50" type="submit"
                                value="Next question">
                            Next question <span class="material-icons">arrow_forward_ios</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const eventSource = new EventSource('http://localhost:3000/.well-known/mercure?topic=' + encodeURIComponent('{{ listenerUrl }}'));
        eventSource.onmessage = event => {
            // Will be called every time an update is published by the server
            console.log(JSON.parse(event.data));
            location.reload();
        }
    </script>
{% endblock %}
